################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RoleBasedAzureAppRoles/.vs/RoleBasedAzureAppRoles/v16
